@import "variables";
@import "functions";
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #FFF;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: $font-regular-serif;
  color: $text-black;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $text-blue;
}

h1, h2, h3 {
  font-weight: normal;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  color: $text-black;
}

.page-container {
  padding: em(60) em(20);
}

.text-center {
  text-align: center;
}


// Buttons

button {
  appearance: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn {
  padding: 0 em(20);
  height: 55px;
  font-size: em(22);
  font-family: $font-regular-serif;
  font-weight: normal;
  color: $text-white;
  border-radius: $el-radius;
  background-color: $black;

  &:hover {
    background-color: darken($black, 10%);
  }

  // States

  &--blue {
    background-color: $blue;
    color: $text-white;

    &:hover {
      background-color: darken($blue, 10%);
    }
  }

  &--full {
    width: 100%;
  }
}
