// Application variables

/***************************
* color palette
***************************/

$white: #FFFFFF;
$black: #161925;
$grey: #777777;
$grey-light: #DDDDDD;
$grey-extra-light: #F9F9F9;
$red: #C1292E;
$blue: #235789;
$yellow: #F1D302;

/***************************
* text
***************************/

$text-white: $white;
$text-black: $black;
$text-grey: $grey;
$text-red: $red;
$text-blue: $blue;
$text-yellow: $yellow;

/***************************
* fonts
***************************/

$font-regular-sans: "Helvetica", "arial", sans-serif;
$font-regular-serif: "Georgia", "Times New Roman", serif;

/***************************
* elements
***************************/

$el-radius: 3px;
